@media (min-width:320px){.rslides_tabs{display:none;}
.conference-rslide img{width:100%;}
.total-blog .grid-img-content p{width:94%;text-align:justify;margin:0 6px;}
img.blog{width:100%;margin-bottom:13px;}
.video-main-container{width:100%;}
.event-info{width:65%;}
.single-footer-widget{margin-bottom:30px;}
.video-webcast{width:100%;}
.journals-title{width:100%;}
.sign_up{display:none;}
.search{width:100%;}
ul li.hideLogin{display:block;}
.posts,.recent-comments,.archievs,.categories{margin-bottom:0;}
#slider3-pager{display:none;}
.conference-title{float:none;position:relative;right:0;top:2px;width:100%;clear:both;}
.modal-body .button-block{margin:0 37%;}
.world-news-grid{width:100%;border-bottom:1px solid #ccc;margin:0 0 8px 0;padding:10px 0;}
.video-wrapper{margin-left:0;margin-top:8px;width:100%;}
.menuzord{margin:0 0;}
.footer-copyright{width:40%;}
.footer-copyright > a{margin:0 22%;}
.footer-copyright p{width:134px;}
.page-content{margin:0;}
.bottom-menu{float:left;width:100%;}
.bottom-menu ul li{margin:0 10px 0 0;float:left;width:46%;}
.video-filter{margin:7px 0 10px;width:100%;}
.video-main-container h4{color:#ef7f1a;font-size:1.2em;font-weight:400;line-height:1.5;padding:4px;}
.video-grid{margin-bottom:2.2em;}
.total-blog{padding:0;}
.regi-content input[type="submit"], input[type="reset"]{width:32%;}
.regi-content{width:98%;}
.first-wrap{width:30%;height:170px;}
.events-details{padding:6px 0px 0 10px;width:70%;height:170px;}
.calendar-widget{margin:4px 0;width:100%;;}
.calendar-widget select{width:88%;}
.events-details header h3{padding:0;font-weight:none;}
.search_margin .video-main-container{border:1px solid #ccc;margin:10px 2px 30px 0;width:100%;}
}
@media (min-width:480px){ul li.hideLogin{display:block;}
.rslides_tabs{display:none;}
.conference-rslide img{width:100%;}
.single-footer-widget{margin-bottom:30px;}
.sign_up{display:none;}
.search{width:90%;}
#slider3-pager{display:none;}
.conference-title{float:none;position:relative;right:0;top:2px;width:100%;}
.modal-body .button-block{margin:0 41%;}
.video-wrapper{margin-left:0;margin-top:4px;width:100%;}
.footer-copyright{width:24%;}
.menuzord{margin:1em 0;}
.bottom-menu{float:left;width:100%;}
.bottom-menu ul li{margin:0 10px 0 0;float:left;width:47%;}
.video-main-container h4{color:#ef7f1a;font-size:1.2em;font-weight:400;line-height:1.5;padding:4px;}
.video-grid{margin-bottom:2.2em;}
.single-footer-widget{margin-bottom:30px;padding:10px;}
.total-blog{padding:0;}
.regi-content input[type="submit"], input[type="reset"]{width:26%;}
.regi-content{width:98%;}
.first-wrap{width:22%;height:139px;}
.events-details{padding:6px 10px 0;width:73%;height:139px;}
.calendar-widget{width:47%;}
.calendar-widget select{width:58%;}
.events-details header h3{padding:0;}
.video-filter{margin:0 0px 10px;width:66%;}
.search_margin .video-main-container{border:1px solid #ccc;margin:10px 2px 30px 0;width:64%;}
.uroslide_width .video-filter{margin:14px -64px 10px;width:100%;}
}
@media (min-width:568px){ul li.hideLogin{display:block;}
.event-info{float:left;width:85%;}
.single-footer-widget{margin-bottom:30px;}
.search{width:51%;}
#slider3-pager{display:none;}
.world-news-grid{margin:3px 0;width:98.5%;.bottom-menu{float:left;width:100% !important;}
.bottom-menu ul li{margin:0 10px 0 0;float:left;width:47%;}
}
.news-paper{margin:-0.7em 0;padding:0.6em 0.5em;}
.video-filter{margin:0 7px 10px;}
.uroslide_width .video-filter{margin:0 0 10px;width:55%;}
}
@media (min-width:600px){#slider3-pager{display:none;}
.news-paper{margin:-0.7em 0;padding:0.6em 0.5em;}
.video-filter{margin:0 7px 10px;}
}
@media (min-width:640px){.video-main-container{width:49%;margin:5px 5px 0 0;}
.video-main-container h4{color:#ef7f1a;font-size:1.2em;font-weight:400;line-height:1.5;padding:4px;}
.grid.box{float:left;margin:0 30px 17px 0;width:99%;}
.search{width:51%;}
#slider3-pager{display:none;}
.modal-body .button-block{margin:0 43%;}
.news-paper{margin:-0.7em 0;padding:0.6em 0.5em;}
.menuzord{margin:1em 0;}
.video-filter{margin:0 7px 10px;}
.video-grid{margin-bottom:2.2em;}
.total-blog{padding:0;}
.video-filter{margin:0 0px 10px;width:46%;}
.uroslide_width .video-filter{margin:0 0px 10px;width:27%;}
}
@media (min-width:768px){ul li.hideLogin{display:none;}
.menuzord-menu > li > a{border-bottom:5px solid transparent;padding:1em 1.23em 0.3em;}
.rslides_tabs{top:-11%;display:block;}
.conference-rslide img{width:49%;}
.world-news-grid{width:100%;border-bottom:1px solid #ccc;margin:12px 0;padding:10px 0;}
.total-blog .grid-img-content p{width:94%;font-size:0.99em;line-height:1.5;padding:0;}
.video-main-container h4{color:#ef7f1a;font-size:1.2em;font-weight:400;line-height:1.5;padding:4px;}
.video-main-container{width:49%;margin-right:6px;}
.side-bar{padding:0;}
.video-grid{margin-bottom:2.2em;}
.event-info{float:left;width:85%;}
.single-footer-widget{margin-bottom:0px;}
.sign_up{display:none;}
.bottom-menu{float:left;width:100%;}
img.blog{margin-bottom:20px;width:100%;}
.search{width:51%;}
#slider3-pager{display:none;}
.conference-title{float:right;position:absolute;right:0;top:0.5%;width:50%;}
.world-news-grid{margin:0 11px 0 0;width:32%;}
.video-wrapper{margin:0 7px 0 0;width:48%;}
.news-paper{margin:-0.7em 0;padding:0.6em 1em;}
.footer-copyright img{margin:0;}
.video-filter{margin:0 0px 10px;width:43%;}
.webcast-margin{margin-right:10px;}
.total-blog{padding:0 15px 0 0;}
.grids{margin-bottom:20px;margin-top:20px;}
.page-content{margin:0;}
.regi-content input[type="submit"], input[type="reset"]{width:21%;}
.registrationform .main-title-head{width:99%;}
.regisform{margin:0;width:99%;}
.first-wrap{width:15%;}
.events-details{padding:6px 10px 0;width:85%;}
.calendar-widget{width:40%;}
.search_margin .video-main-container{border:1px solid #ccc;margin:10px 2px 30px 0;width:34%;}
.uroslide_width .video-filter{margin:0 7px 10px;width:55%;}
}
@media (min-width:992px){.sign_up{display:block;}
ul li.hideLogin{display:none;}
.sign_up{margin:0;padding:0;}
.rslides_tabs{top:-11%;display:block;}
.page-content{margin:20px 0;}
.page-content ul li{margin:0 0 12px 7px;}
.event-date{margin-right:6px;}
.button-block{margin:1px 60px;}
.menuzord-menu > li > a{padding:1em 1.55336em 0.3em;}
.conference-rslide img{width:49%;}
.conference-title{float:right;position:absolute;right:0;top:0;width:50%;}
.single-footer-widget{margin-bottom:0px;}
.bottom-menu{float:left;width:100%;}
.home-margin{margin-right:5px;}
.video-wrapper{width:49%;}
#slider3-pager{display:none;}
.world-news-grid{margin:0 11px 0 0;width:32%;}
.slider{margin-right:10px;}
.video-filter{margin:0 7px;}
.video-main-container{margin:10px 13px 0 0;width:48%;}
.regi-content{margin:10px 10px 60px;width:95%;}
.Events-mainwrapper{width:95%;}
.events-details{padding:6px 10px 0;width:87%;height:125px;}
.first-wrap{width:13%;height:125px;}
.video-filter{margin:0 0px 10px;width:42%;}
.search_margin .video-main-container{border:1px solid #ccc;margin:10px 2px 30px 0;width:34%;}
}
@media (min-width:1024px){.journals-title{width:48%;}
.event-info{width:114px;}
.sign_up{display:block;}
.bottom-menu{float:left;width:100%;}
grid.box{border-bottom:1px ridge rgb(240, 240, 240);margin-bottom:3em;width:100% !important;}
#slider3-pager{display:none;}
.footer-copyright > a{margin:0 16%;}
.video-wrapper{margin:0 7px 0 0;width:48%;}
.video-main-container h4{color:#ef7f1a;font-size:1.2em;font-weight:400;line-height:1.5;padding:4px;}
.page-content{margin:0px 0 33px;}
.news-paper{margin:0.3em 0;padding:0.6em 1em;}
.field-wrap{margin-bottom:8px;}
.button{font-size:0.99em;}
.button-block{padding:4px;}
.tab-group{margin:0 0 8px;}
.side-bar{padding:16px 0 0 30px;}
.first-wrap{width:15%;}
.events-details{padding:6px 10px 0 10px;width:84%;}
.video-filter{margin:0 0px 10px;width:43%;}
.uroslide_width .video-filter{margin:0 0px 10px;width:47%;}
}
@media (min-width:1200px){.sign_up{display:block;}
.sign_up{margin:0;padding:0;}
ul li.hideLogin{display:none;}
.rslides_tabs{top:0;display:block;}
.page-content{margin:0px 0 33px;}
.page-content ul li{margin:0 13px 12px;}
.button-block{margin:1px 85px;}
.conference-rslide img{width:49%;height:218px;}
.menuzord-menu > li > a{padding:1em 1.55336em 0.3em;}
.conference-title{float:right;position:absolute;right:14%;top:0.5%;width:35%;}
img.blog{width:20%;}
.total-blog .grid-img-content p{color:#202021;margin:0 18px;width:96%;font-size:0.99em;}
.grid p{font-size:0.92em;color:rgb(155, 155, 155);line-height:1.8em;width:100%;}
.video-main-container{border:1px solid #ccc;margin:10px 2px 0px 0;width:33%;}
.video-main-container h4{color:#ef7f1a;font-size:1.2em;font-weight:400;line-height:1.5;padding:4px;}
.event-info{float:left;width:140px;}
.world-news-grid{width:32%;margin:10px 11px 0 0;}
.video-webcast{border:1px solid #ccc;margin:10px 10px 0 0;width:32%;}
.journals-title{margin-bottom:1em !important;width:48%;float:left;margin-right:2%;}
.bottom-menu{float:left;width:100%;}
.grid.box{width:99%!important;}
.search{width:100%;}
#slider3-pager{display:block;}
.footer-copyright{width:10%;}
.footer-copyright > a{margin:0 28%;}
.video-wrapper{margin:10px 7px 0 0;width:48%;}
.slider{padding:1.35em;}
.tab-group{list-style:outside none none;margin:0 0 20px;padding:10px;}
.button{border:0;outline:none;border-radius:0;padding:15px 0;font-size:1.3rem;font-weight:600;text-transform:uppercase;letter-spacing:.1em;background:#ef7f1a;color:#ffffff;-webkit-transition:all 0.5s ease;transition:all 0.5s ease;-webkit-appearance:none;}
.button-block{display:inline-block;margin:1px 85px;padding:10px;}
.field-wrap{margin-bottom:14px;padding:0 16px;position:relative;}
.posts,.recent-comments,.archievs,.categories{margin-bottom:3em;}
.home-margin{margin-right:7px;}
.video-wrapper{width:49%;}
.total-blog{padding:0 15px 0 0;}
.registrationform .total-news{padding-right:0;}
.regi-content{width:100%;}
.Events-mainwrapper{width:100%;}
.first-wrap{width:11%;height:109px;}
.events-details{padding:6px 10px 0;width:89%;height:109px;}
.calendar-widget{width:25%;}
.calendar-widget select{width:68%;}
.video-filter{margin:0 0px 10px;width:35%;}
.search_margin .grid.box{float:left;margin:0 30px 33px 0;width:99%;}
.search_margin .video-main-container{border:1px solid #ccc;margin:10px 2px 30px 0;width:33%;}
.search_margin .searchuro{margin-bottom:48px !important;}
.uromargin .main-title-head{margin-bottom:1.4em;}
.uroslide_width .video-filter{margin:0 0px 10px;width:46%;}
.web .video-filter{margin:0 0px 10px;width:29%;}
}