@media (min-width: 320px) {
	.rslides_tabs {display:none;}
	.conference-rslide img {width: 100%;}		
	.conference-title {float: none; position: relative;right: 0;	top: 2px; width: 100%;}
	.total-blog .grid-img-content p {	width: 94%;	text-align: justify;margin: 0 6px;}
	img.blog {width: 100%;}
	.video-main-container{width:100%;}
	.video-wrapper{margin-left: 0px; width: 100%; margin-top: 20px;}
	.world-news-grid {width: 100%; margin: 10px 0;}
	.event-info {width: 65%;}
	.single-footer-widget{margin-bottom: 30px;}
	.video-webcast { width: 100%;}
	.journals-title{width: 100%;}
	.sign_up{display:none;}
	.search{width:100%;}
	ul li.hideLogin{display:block;}
	#slider3-pager{display:none;}
}

@media (min-width: 480px) {
	ul li.hideLogin{display:block;}
	.rslides_tabs {display:none;	}
	.conference-rslide img {width: 100%;}		
	.conference-title {float: none;	position: relative;	right: 0;top: 2px;	width: 100%;}
	.video-wrapper{margin-left: 0px; width: 100%; margin-top: 20px;}
	.single-footer-widget{margin-bottom: 30px;}
	.sign_up{display:none;}
	.search { width: 51%;}
	#slider3-pager{display:none;}
}

@media (min-width: 568px) {
	ul li.hideLogin{display:block;}
	.event-info {float: left; width: 85%;}
	.world-news-grid {width: 100%; margin: 10px 0;}
	.single-footer-widget{margin-bottom: 30px;}
	.bottom-menu{float: left; width: 50%;}
	.search {width: 51%;}
	#slider3-pager{display:none;}
}

@media (min-width: 640px) {
	.video-main-container {
	   width: 46%;
	}
	.grid.box {
	   float: left;
	   margin: 0 30px 7px 0;
	  width: 44%!important;
	}
	.search {width: 51%;}
	#slider3-pager{display:none;}

}
@media (min-width: 768px) {
	ul li.hideLogin{display:block;}
	.rslides_tabs {bottom: -11%;	display:block;	}
	.conference-rslide img {	width: 49%;	}		
	.conference-title{float: right;	position: absolute;	right: 14%;top: 0.5%;width: 35%;}
	.total-blog .grid-img-content p { width: 94%;  font-size: 0.99em;  line-height: 1.5;}
	.video-main-container h4 {font-size: 20px; padding: 10px; color: #000;}
	.event-info {float: left;  width: 85%;}
	.video-wrapper{margin-left: 7px; width: 48%; margin-top:0;}
	.world-news-grid { width: 32%;  margin: 10px 11px 0 0;}
	.single-footer-widget{margin-bottom: 0px;}
	.sign_up{display:none;}
	.bottom-menu {float: left; width: 100%;}
	img.blog {margin-bottom: 20px; width: 100%;}
	.search {width: 51%;}
	#slider3-pager{display:none;}
	
}

@media (min-width: 769px) {
	.menuzord-menu > li > a{padding: 1em 1.2em 0.3em;}
	.world-news-grid { width: 32%;  margin: 10px 11px 0 0;}
	.sign_up{display:none;}
	.hideLogin{display:block;}
	.bottom-menu {float: left; width: 100%;}	
	ul li.hideLogin{display:none;}
	#slider3-pager{display:none;}
	.conference-title {float: right; position: absolute; right: 3%; top: 0.5%;  width: 46%;}
}

@media (min-width: 992px) {
	.sign_up{display:block;}
	ul li.hideLogin{display:none;}
	.sign_up{margin: 0; padding: 0;}
	.rslides_tabs {bottom: -11%;display:block;}
	.page-content{margin: 34px 0 33px;}
	.page-content ul li { margin: 0 0 12px 7px;}
	.event-date{margin-right:6px;}
	.button-block { margin: 1px 60px;}		
	.menuzord-menu > li > a {	padding: 1em 1.55336em 0.3em;}		
	.conference-rslide img {width: 49%;}
	.conference-title{float: right;position: absolute;right:0;top: 0;width: 50%;}
	.world-news-grid { width: 32%;  margin: 10px 11px 0 0;}
	.single-footer-widget{margin-bottom: 0px;}
	.bottom-menu {float: left; width: 100%;}
	#slider3-pager{display:none;}
	.content-block{margin-top: 65px;}
}
@media (min-width: 1024px) {
	.journals-title{width: 48%;}
	.event-info {width: 114px;}
	.sign_up{display:block;}
	.bottom-menu {float: left; width: 100%;}
	grid.box {border-bottom: 1px ridge rgb(240, 240, 240);
		margin-bottom: 3em;
		width: 100% !important;
	}
	#slider3-pager{display:none;}
	.content-block{margin-top: 65px;}
}

@media (min-width: 1200px) {
	.sign_up{display:block;}
	.sign_up{margin: 0; padding:0;}
	ul li.hideLogin{display:none;}
	.rslides_tabs { bottom: -9%; display:block;}
	.page-content{ margin: 0px 0 33px;}
	.page-content ul li {margin: 0 13px 12px;}
	.button-block {margin: 1px 85px;	}
	.conference-rslide img {width: 49%;}		
	.menuzord-menu > li > a {padding: 1em 1.55336em 0.3em;	}
	.conference-title{float: right;	position: absolute;right: 14%;top: 0.5%;width: 35%;}
	img.blog {width: 20%;}
	.total-blog .grid-img-content p {  color: #202021;  margin: 0 18px; width: 96%;font-size: 0.99em;}
	.grid p { font-size: 0.92em;  color: rgb(155, 155, 155); line-height: 1.8em; width: 100%;}
	.video-main-container{border: 1px solid #ccc;  margin: 10px 10px 0px 0; width: 32%;}
	.video-main-container h4 {color: #ef7f1a; font-size: 0.99em; line-height: 1.3; padding: 10px;}
	.event-info {float: left;width: 140px;}
	.world-news-grid { width: 32%;  margin: 10px 11px 0 0;}
	.video-webcast {border:1px solid #ccc; margin: 10px 10px 0 0; width: 32%;}
	.journals-title{margin-bottom:1em !important; background-color:#e4e4e4; width: 48%;  float: left;  margin-right: 2%;}
	.bottom-menu {float: left; width: 100%;}
	.grid.box {width: 100%!important;}
	.search { width: 100%;}
	#slider3-pager{display:block;}
	.content-block{margin-top: 110px;}
}