@media (min-width: 320px) {
	.rslides_tabs {display:none;}
	.conference-rslide img {width: 100%;}		
	.conference-title {float: none; position: relative;right: 0;	top: 15px; width: 100%;}
	.total-blog .grid-img-content p {	width: 94%;	text-align: justify;margin: 0 6px;}
	img.blog {width: 100%;}
	.video-main-container{width:100%;}
	.video-wrapper{margin-left: 0px; width: 100%; margin-top: 20px;}
	.world-news-grid {width: 100%; margin: 10px 0;}
	.event-info {width: 65%;}
	.single-footer-widget{margin-bottom: 30px;}
	.video-webcast { width: 100%;}
	.journals-title{width: 100%;}
}

@media (min-width: 480px) {
	.rslides_tabs {display:none;	}
	.conference-rslide img {width: 100%;}		
	.conference-title {float: none;	position: relative;	right: 0;top: 15px;	width: 100%;}
	.video-wrapper{margin-left: 0px; width: 100%; margin-top: 20px;}
	.single-footer-widget{margin-bottom: 30px;}
}

@media (min-width: 568px) {
	.event-info {float: left; width: 85%;}
	.world-news-grid {width: 100%; margin: 10px 0;}
	.single-footer-widget{margin-bottom: 30px;}

}

@media (min-width: 768px) {
	.rslides_tabs {bottom: -11%;	display:block;	}
	.conference-rslide img {	width: 49%;	}		
	.conference-title{float: right;	position: absolute;	right: 14%;top: 0.5%;width: 35%;}
	.total-blog .grid-img-content p { width: 94%;  font-size: 1.8em;  line-height: 1.5;}
	.video-main-container h4 {font-size: 20px; padding: 10px; color: #000;}
	.event-info {float: left;  width: 85%;}
	.video-wrapper{margin-left: 7px; width: 48%; margin-top:0;}
	.world-news-grid { width: 32%;  margin: 10px 11px 0 0;}
	.single-footer-widget{margin-bottom: 0px;}
}

@media (min-width: 769px) {
	.menuzord-menu > li > a{padding: 1em 1.2em 0.3em;}
	.world-news-grid { width: 32%;  margin: 10px 11px 0 0;}

}

@media (min-width: 992px) {
	.sign_up{margin: 0; padding: 0;}
	.rslides_tabs {bottom: -11%;display:block;}
	.page-content{margin: 34px 0 33px;}
	.page-content ul li { margin: 0 0 12px 7px;}
	.event-date{margin-right:6px;}
	.button-block { margin: 1px 60px;}		
	.menuzord-menu > li > a {	padding: 1em 1.55336em 0.3em;}		
	.conference-rslide img {width: 49%;}
	.conference-title{float: right;position: absolute;right: 14%;top: 0.5%;	width: 35%;}
	.world-news-grid { width: 32%;  margin: 10px 11px 0 0;}
	.single-footer-widget{margin-bottom: 0px;}
}
@media (min-width: 1024px) {
	.journals-title{width: 48%;}
	.event-info {width: 114px;}
}

@media (min-width: 1200px) {
	.sign_up{margin: 0; padding:0;}
	.rslides_tabs { bottom: -9%; display:block;}
	.page-content{ margin: 0px 0 33px;}
	.page-content ul li {margin: 0 13px 12px;}
	.button-block {margin: 1px 85px;	}
	.conference-rslide img {width: 49%;}		
	.menuzord-menu > li > a {padding: 1em 1.55336em 0.3em;	}
	.conference-title{float: right;	position: absolute;right: 14%;top: 0.5%;width: 35%;}
	img.blog {width: 41%;}
	.total-blog .grid-img-content p {  color: #202021;  margin: 0 18px; width: 98%;font-size: 0.92em;}
	.grid p { font-size: 0.92em;  color: rgb(155, 155, 155); line-height: 1.8em; width: 100%;}
	.video-main-container{border: 1px solid #ccc;  margin: 10px 10px 0px 0; width: 32%;}
	.video-main-container h4{font-size:13px;padding:10px; color:#000;}
	.event-info {float: left;width: 140px;}
	.world-news-grid { width: 32%;  margin: 10px 11px 0 0;}
	.video-webcast {border:1px solid #ccc; margin: 10px 10px 0 0; width: 32%;}
	.journals-title{margin-bottom:1em !important; background-color:#e4e4e4; width: 48%;  float: left;  margin-right: 2%;}
}