
@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/BEBAS___-webfont.eot');
    src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BEBAS___-webfont.woff') format('woff'),
         url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('../fonts/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	background:#fff;
	background-size: 100% 100%;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

input[type="button"],input[type="submit"],select{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
a:hover{text-decoration:none;}
.floatL{float:left;}
.floatR{float:right;}



/*-----start-header----*/
.news-paper {
	background:#fff;
	padding:1em 1.5em;
	
}
.header-left {
	float:left;
}

.logo a {
	text-decoration: none;
	display: block;
	text-transform:uppercase;
}

/*.logo a  span{
	text-decoration: none;
	display: block;
	font-size: 11px;
    letter-spacing: 1px;
    padding: 4px;
    text-transform: none;
	color:#026ea7;
	font-weight:bold;
}
.logo a h6 {
	color:#191919;
	font-family: 'georgia';
	font-weight:500;
	font-size:1.1em;
}
.logo a h1 {
	color:#f07c00;
	font-family: 'Helvetica Neue';
	font-weight:500;
	font-size:2.2em;
}

.logo a h1 span {
	color:#cf0000;
}


*/
.logo {
	margin-top: 10px;
}

.header-right {
	float:right;
	width: 39%;
	margin-top: -47px;
}

.btn {padding:10px 20px; background: #F4F4F2;}
.btn_red {background:#ef7f1a; color: #FFF;}
a.btn_red {color: #FFF;}

/*
.top-menu {
	float:left;
	margin-top:0.65em;
}
.top-menu ul li {
	display:inline-block;
	  margin: 0 0.6em;
}

.top-menu ul li a {
	color:#cf0000;
	text-decoration:none;
	font-size:0.95em;
	font-weight:600;
}
.top-menu ul li a:hover {
	color:#000;
}*/

.video-wrapper h4{color: #000;  padding: 20px;  font-size: 13px;
    line-height: 1.5;}	
video{width:100%;}
.video-wrapper a:hover h4{text-decoration:none;}



.btn:hover {background: #E4E4E2;}
.btn_red:hover {background: #9F9F9F;}

a.btn {text-align: center; text-decoration: none;}

/*.one_half {width:50%; display: block; float:left;}
.one_half.last {width:45%; margin-left:5%;}*/


/* User Login Form */
.user_login {}
.user_login label {display: block; margin-bottom:5px;}
.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_login input[type="checkbox"] {float:left; margin-right:5px;}
.user_login input[type="checkbox"]+label {float:left;}

.user_login .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
.forgot_password {display:block; margin: 20px 0 10px; clear: both; overflow: hidden; text-decoration: none; color:#ED6347;}

/* User Register Form */
.user_register {display: none;}
.user_register label {display: block; margin-bottom:5px;}
.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_register input[type="checkbox"] {float:left; margin-right:5px;}
.user_register input[type="checkbox"]+label {float:left;}
.user_register .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
/*--start-search--*/
.search {
	position: relative;
	padding: 5px 8px;
	width: 65%;
	border: 1px solid #bababa;
	float:right;
	background: #f8f8f8;
}
.search input[type="text"] {
	outline: none;
	color: #b3b3b3;
	background: #f8f8f8;
	font-size: 1em;
	border: none;
	width: 84.33%;
}
.search input[type="submit"] {
	background: url('../images/sprit-1.png') no-repeat 1px 1px;
	border: none;
	cursor: pointer;
	position: absolute;
	outline: none;
	top: 0px;
	right: -1px;
	width: 32px;
	height: 32px;
}

/*Contact*/
#contact{
	float: left;
	display: inline;
	padding: 0px;
	width: 100%;
}
fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:98%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	border:none;
	background:#ef7f1a;
	color:#FFF;
	margin:0 0 5px;
	padding: 10px 20px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#0071a8;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
.section-heading h2{font-family: "bebasregular";  font-size: 20px;
    margin-bottom: 10px;}
	
.contact-form{
	float: left;
	display: inline;
	width: 100%;
}


/*Tags*/

.single-footer-widget ul.tag-nav li{list-style:none;}
footer{background-color:#eee;
	padding:30px 0 0;
	}
.single-footer-widget a{font-size:13px;    

}
.footer-copyright p{font-family: "bebasregular";  font-size: 12px; letter-spacing: 1.2px;}
	
.tag-nav a {
	border: 1px solid #e2e6e7;
	color: #555;
	display: inline-block;
	float: left;
	font-size: 12px;
	margin-bottom: 8px;
	margin-right: 8px;
	padding: 10px 12px;
	text-transform: uppercase;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s
}
 .tag-nav li a:hover,
 .tag-nav li a:focus{
	color: #fff !important;
	text-decoration: none;
	outline: none;
	background-color:#0071a8;
}
.modal.in .modal-dialog{transform: translate(0px, 30px);}


/*Navigation*/
.menuzord{background: #ef7f1a none repeat scroll 0 0;
    margin: 1em 0;
    padding: 0	;
	}	
.menuzord-menu > li > a {
	color: #fff;
	font-size: 1.1em;
	font-weight: 400;
	font-family: 'bebasregular';
	text-decoration: none;
	padding: 1em 1.55336em 0.3em;
	border-bottom:5px solid transparent ; 
}
.menuzord.red .menuzord-menu>li:hover>a{color:#0071a8; }
.menuzord-menu ul.dropdown li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    clear: both;
    color: #f07c00;
    display: inline-block;
    float: left;
    outline: 0 none;
    padding: 10px 25px 10px 22px;
    position: relative;
    text-decoration: none;
    transition: padding 0.2s linear 0s;
    width: 100%;
	font-family: 'bebasregular';
	letter-spacing:1px;
	text-align: left;
	border-bottom:5px solid #ef7f1a ; 
}
.menuzord.red .menuzord-menu ul.dropdown li > a:hover{color:#f07c00; border-bottom:3px solid #0071a8;}
.menuzord .showhide em{background-color:#fff;}
.total-news {
	padding: 0;
}
.menuzord.red .menuzord-menu > li.active > a, .menuzord.red .menuzord-menu > li > a:hover{color:#fff; border-bottom:5px solid #0071a8; }

.form-left{width:42%; margin-right:60px;}



/*News*/

.innerpage-title {
    border-bottom: 1px solid #d5d5d5;
    font-size: 40px;
    font-weight: bold;
    margin: 30px 0 0;
    padding: 0 10px 15px;
	color:#000;
	text-align: left;
		
}
.innercontent-left p {
    color: #666;
    margin: 14px 0 0;
}
.innercontent-left p span {
    color: #666;
    display: inline-block;
}
.author {
    color: #666;
}
h5.red-tags {
    float: left;
    font-weight: bold;
    margin: 6px 0 0;
    width: 70%;
}
.tag-img {
    position: relative;
    width: 100% !important;
}
h5.red-tags a {
    color: #ef7f1a ;
    display: inline-block;
}
.tag-img a {
    background: #ef7f1a  url("../images/tags-png.png") no-repeat scroll 6% 50%;
    border-radius: 3px;
    color: #fff !important;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    margin: 0 0 5px;
    padding: 8px 20px 5px 30px;
}
.innercontent-right {
    margin: 30px 0;
}
.innercontent-right h2 {
    background: #ef7f1a none repeat scroll 0 0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 0 0;
    padding: 5px 10px;
   /*position: absolute;*/
    text-align: center;
    text-transform: uppercase;
}

.inner-desc img {
    width: 100%;
}
.inner-desc > div {
    margin: 15px 0 0;
}
.inner-desc p {
    color: #222;
    font: 14px/20px,Arial;
    margin: 5px 0 60px;
	font-weight:normal;
}

h5.breaking {
	color: #fff;
	background: #0071a8;
	padding: 6px 0;
	font-size: 0.95em;
	font-weight: normal;
	width: 14%;
	text-align: center;
	margin: 0px 0 -14px -14px;
}
/*Slider*/
.slider{
	position:relative;
	background: #e4e4e4;
	padding: 1em;
	margin-bottom: 3em;
}

.conference-rslide {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
.conference-slider{
	position:relative;
}
.conference-title{
	color: #272729;
    float: right;
    position: absolute;
    right: 14%;
    top: 0.5%;
    width: 35%;
}
.conference-title h4{font-weight:bold;padding-bottom:10px;}
.breaking-news-title {
	position:absolute;
	background:rgba(36, 34, 36, 0.68);
	bottom: 3px;
	z-index: 999;
	width: 81%;
	left: 4px;
	padding: 0.5em 10em;
}
.breaking-news-title p {
	color:#fff;
	font-size:1em;
	font-weight:normal;
	line-height:1.7em;
}
.conference-rslide li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.conference-rslide li:first-child {
	position: relative;
	display: block;
	float: left;
}
.conference-rslide img {
	display: block;
	float: left;
	width: 49%;
}
.rslides_tabs {
	bottom: -9%;
    margin-bottom: 6px;
    position: absolute;
    right: 0;
    width: 12%;
	z-index: 10;
	}
.rslides_tabs li {
	display: block;
}
.rslides_tabs a {
	
}
.rslides_tabs li:first-child {
	margin-left: 0;
}
.rslides_tabs .rslides_here a {
	color: #fff;
	font-weight: bold;
	border: 1px solid #ef7f1a ;	
}
#slider3-pager a {
	display: inline-block;
	width: 100%;
}
#slider3-pager img {
	float: left;
	display:block;
	width: 100%;
}

.total-blog .grid-header a{color:#ef7f1a}
.total-blog .grid-img-content p{color:#202021; margin: 0 18px;  width: 98%;}
.menu-strip .active{background-color:#0071a8;}
.video-filter ul li{display:inline-block;}
.video-main-container{border: 1px solid #ccc;
    margin: 10px 10px 0px 0;
    width: 32%;
	}
.video-main-container h4{font-size:13px;padding:10px; color:#000;}
.world-news{margin-bottom:3em;}
.video-main-container img{width:100%;}
.video-webcast img{width:100%;}
/*Video Section*/

.video ul li {list-style:none;float:left;}
.dropdown {
  position: absolute;
  top:50%;
  transform: translateY(-20%);
}
.total-blog{padding:0;}

.dropdown  {
  margin: 0px;
  padding: 0px;
}

.dropdown .mutliSelect ul {
 margin: 38px 0 0;
}

.dropdown {
  position: relative;
}

.dropdown a,
.dropdown a:visited {
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: 12px;
}

.dropdown a {
  background-color: #4F6877;
  display: block;
  padding: 8px 20px 5px 10px;
  min-height: 25px;
  line-height: 24px;
  overflow: hidden;
  border: 0;
  width: 272px;
}

.dropdown a span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px 2px 0;
}

.dropdown ul {
  background-color: #4F6877;
  border: 0;
  color: #fff;
  display: none;
  left: 0px;
  padding: 2px 15px 2px 5px;
  position: absolute;
  top: 2px;
  width: 280px;
  list-style: none;
  height: 100px;
  overflow: auto;
}

.dropdown span.value {
  display: none;
}

.dropdown ul li a {
  padding: 5px;
  display: block;
}

.dropdown ul li a:hover {
  background-color: #fff;
}



/*-- responsive-mediaqueries --*/
@media (max-width:768px){
	#slider3-pager a {
		width: 100%;
	}
	.rslides_tabs {
		bottom: 10px;
	}
}
@media (max-width:640px){
	#slider3-pager a {
		width: 100%;
	}
	.rslides_tabs {
		bottom: 15px;
	}
}
@media (max-width:480px){
	#slider3-pager a {
		width: 100%;
	}
	.rslides_tabs {
		bottom: 20px;
	}
}
@media (max-width:320px){
	#slider3-pager a {
		width: 100%;
	}
	.rslides_tabs {
		bottom: 25px;
	}
}
.confer {
	margin-bottom: 4em;
}
.world-news-grid {
	width:31.5%;
	float:left;
	margin-right:2.75%;
}
.world-news-grid img {
	width:100%;
}
.world-news-grid:nth-child(3){
	margin-right:0;
}
.left-posts {
	width:100%;
	margin-right:4%;
	float:left;
}
.right-posts {
	width:28%;
	float:right;
}
.main-title-head {
	border-bottom:2px solid #ef7f1a;
	margin-bottom:0.7em;
	width: 98.5%;
}
.main-title-head h3 {
	color:#ef7f1a;
	font-size:1.6em;
	font-weight:400;
	word-spacing:3px;
	float:left;
	font-family: 'bebasregular';
	  padding-bottom: 4px;
}
.main-title-head a {
	float:right;
	text-decoration:none;
	color:#262626;
	background:#e4e6e5;	
	font-size:0.7em;
	padding:3px 8px;
	  margin-top: 8px;
}
.main-title-head a:hover{
	background:#0071a8;
	color:#fff;
}

.video-wrapper{border: 1px solid #eee;
    margin-left: 10px;
    width: 48%;
	}
.video-wrapper img{width:100%;			
		}


.world-news-grid p {
	color: #202021;
	font-size: 0.95em;
	font-weight: normal;
	line-height: 1.5em;
	margin: 3px 0 8px 0;
}
.world-news-grid a {
	color:#ef7f1a;
	font-weight:bold;
	font-size:0.875em;
	
	text-decoration:none;
}
a.title {
	color: #202021;
	font-size: 13px;
    font-weight: bold;
    line-height: 1.5;
	margin-top: 10px;
	display:block;
	text-decoration:none;
}
a.title:hover {
	color:#ef7f1a;
}
.latest-articles {
	margin:5em 0; 
}
.desk-grid h3 {
	color: #202021;
	font-size: 1.6em;
	font-weight: 400;
	word-spacing: 3px;
	font-family: 'bebasregular';
	border-bottom: 4px solid #cf0000;
	margin-bottom: 1em;
	padding-bottom: 4px;
}
.desk h5 {
	color: #202021;
	font-size: 1em;
	font-weight: bold;
}
.desk p {
	color: #202021;
	font-size: 0.95em;
	font-weight: normal;
	line-height: 1.5em;
	margin: 8px 0;
}
.desk p a {
	color: #cf0000;
	font-weight: bold;
	font-size: 0.875em;
	text-transform: uppercase;
	text-decoration: none;
}
.desk p span {
	margin-left: 2em;
	font-size: 0.875em;
	font-weight: normal;
	letter-spacing: 2px;
}
.desk {
	border-bottom: 1px dotted #202021;
	margin-bottom: 2em;
	padding-bottom: 0.8em;
}
.desk:nth-child(4){
	border:none;
	margin-bottom: 0em;
}
a.more{
	text-decoration: none;
	color: #fff;
	background: #cf0000;
	text-transform: uppercase;
	font-size: 0.7em;
	padding: 4px 8px;
}
.editorial {
	margin-top:2em;
}
.editor a img {
	width:100%:
}
.editor a {
	color: #cf0000;
	font-size: 0.95em;
	font-weight: bold;
	text-decoration:none;
	margin:8px 0;
	display: block;
}
.editor a:hover {
	color:#202021;
}
.editorial h3 {
	color: #202021;
	font-size: 1.6em;
	font-weight: 400;
	word-spacing: 3px;
	font-family: 'bebasregular';
	border-bottom: 4px solid #cf0000;
	margin-bottom: 0.6em;
	padding-bottom: 4px;
}
.left-tech-news {
	width:48%;
	margin-right:4%;
	float:left;
}
.right-tech-news {
	width:48%;
	float:left;
}
.gallery {
	margin: 2em 0;
}
.span_66 {
	border-bottom: 1px dotted #202021;
	margin-bottom: 1.5em;
	padding-bottom: 1.3em;
}
.tech-news-grid a {
	color: #202021;
	font-size: 1.1em;;
	color: #202021;
	font-weight: bold;
	text-transform:lowercase;
	text-decoration:none;
}
.tech-news-grid a:hover {
	color: #cf0000;
}
.tech-news-grid p {
	color: #202021;
	font-size: 0.96em;
	font-weight: normal;
	line-height: 1.5em;
}
.tech-news-grid p a {
	color: #cf0000;
	font-weight: normal;
	font-size: 0.875em;
	text-decoration: none;
	margin-right:10px;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin:3em 0;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
	margin-top:3%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0 auto;
	width:100%;
}
.nbs-flexisel-item {
	float: left;
	margin:0px;
	padding:0px;
	cursor: pointer;
	position: relative;
	display: inline-block;
}
.course_demo{
	padding: 3% 3% 3% 3%;
}
.nbs-flexisel-item img {
	  width: 93%;
	  cursor: pointer;
	  position: relative;
	  margin-bottom: 0px;
	  display:inline;
}



.page-content{ margin: 4px 0 33px;}
.content-block {
	border:1px dotted #ccc;
	border-top:none;
}
.page-content h3 {
	font-size: 18px;
	margin: 0 0 15px 0;
	 color: #fff;
	  padding: 10px;
}

.page-content ul li {
	list-style-image: url(../images/list_05.png);
	font-size: 14px;
	margin: 0 13px 12px;
}
/***EVENTS***/
.event-date {
	float: left;
	width: 50px;
	margin: 0 15px 0 0;
}
.event-info {
	float: left;
	width: 140px;
}
.event-m {
    background: #ef7f1a none repeat scroll 0 0;
}
.event-m {
    color: #fff;
    font-size: 13px;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
}

.event-d {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    color: #424242;
    font-size: 14px;
    padding: 6px 0;
    text-align: center;
	font-weight:bold;
}

.event-info h4 {
    font-size: 15px !important;
    font-weight: 600;
    line-height: 120%;
    margin: 0 0 6px !important;
}
.page-content h4 {
    font-size: 16px;
    margin: 0 0 15px;
}
.event-info h4 a {
    color: #ef7f1a;
	font-size: 13px;
}
.event-info p {
    color: #999;
    font-size: 12px;
}

/*Bottom Footer Menu*/
.bottom-menu ul li {
	border-bottom: 1px dotted #bdbbb9;
	margin:0 12px;
	list-style:none;
	
}
.bottom-menu ul li a {
	color: #020305;
    font-family: "bebasregular";
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2;
    padding: 10px;
    text-decoration: none;
	display:block;
}
.bottom-menu ul li a:hover {
	color:#ef7f1a;
}
.footer-middle{background-color: #eee;
    color: #555;
    padding: 10px;
	}
.footerLeft{width: 100%;}
.footer-middle ul li{list-style:none; float:left;  margin: 17px 0;}
.footer-middle ul li a{margin: 14px 0; color:#000; padding:10px;}
.footer-copyright img{margin: 0 10px;}
.footer-copyright p {
	color: #404040;
	font-size: 0.9em;
	 line-height: 6.5;
}
.footer-copyright p a {
	color: #404040;
	margin-left: 1px;
}

.disclaimer-wrapper{margin: 10px 0 40px; text-align:justify; line-height:1.5;}
.videos {
	background:#e4e4e4;
	padding:1.8em 1em 0.5em 1em;
}
.video {
	float: left;
	width: 26%;
	margin-right: 5%;
	background: #0f50a2;
	padding: 1.1em 0;
	text-align: center;
	background: url(../images/mi.jpg) 0px 0px;
  background-size: 100% 100%;
}
i.play {
	width:25px;
	height:25px;
	background:url('../images/img-sprite.png') no-repeat -90px 0px;
	display:inline-block;
	margin:0 auto;
}
.video-name {
	float:right;
	width:69%;
}
.video-name a {
	color: #202021;
	font-size: 0.95em;
	font-weight: bold;
	text-decoration: none;
	line-height:1.2em;
	display: block;
	margin-top: 5px;
}
.video-name a:hover {
	color:#cf0000;
}
.video-grid {
	margin-bottom: 1.58em;
}
a.more1 {
	float: right;
	text-decoration: none;
	color: #fff;
	background: #cf0000;
	text-transform: uppercase;
	font-size: 0.7em;
	padding: 3px 10px;
	margin-top: 0;
	margin-right: -7px;
	margin-bottom: -7px;
}
.side-bar {
	padding: 0 0 0 25px;
}
.sign_up input[type="text"] {
	width: 100%;
	padding: 5px 10px;
	border: none;
	font-size: 0.9em;
	font-weight: 600;
	color: #bbb;
	font-weight: 400;
	border: 1px solid #0071a8;
	margin: 5px 0;
}
.sign_up input[type="submit"] {
	color: #fff;
	font-size: 0.875em;
	font-weight: 300;
	border: none;
	display: block;
	padding: 6px 30px;
	outline: none;
	background: #cf0000;
	text-transform:uppercase;
	margin-top:0.5em;
}
.sign_up {
	background:#e4e4e4;
	/*padding:1.5em 1em;
	margin:2em 0;*/
}

.block-title {
    background: #ef7f1a none repeat scroll 0 0;
}
.content-block ul li{list-style:none;} 
/*.content-block .readBtn{ display: inline-block; background-color:#ef7f1a; }*/
.content-block .readBtn a{ color: #ef7f1a; display:block; font-size:14px;  margin: 0 0 0 147px; }
.sign_up h3 {
	color: #202021;
	font-size: 1.4em;
	font-weight: 400;
	word-spacing: 3px;
	font-family: 'bebasregular';
	margin-bottom: 4px;
}
p.sign {
	color: #202021;
	font-size: 0.875em;
	font-weight: normal;
	line-height: 1.5em;
	margin: 0 0 8px 0;
}
/*----New Signup----*/
.form {  
  max-width: 600px;
  margin: 0px auto;
  border-radius: 4px;
 
}
.video-webcast {border:1px solid #ccc;
    margin: 10px 10px 0 0;
    width: 32%;}
.video-webcast h4{ color: #000;
    font-size: 13px;
    padding: 10px;
	}
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}
#webcastvideo2{margin: 0 20px;}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group{
  display: block;
  text-decoration: none;
  padding: 5px;
  background: #ef7f1a ;
  color: #fff;
  font-size: 14px;
  float: left;
  width: 100%;
  text-align: center; 
  font-weight: bold;
}
.register-group{display: block;
  text-decoration: none;
  padding: 5px;
  background: #cecece ;
  color: #fff;
  font-size: 14px;
  float: left;
  width: 100%;
  text-align: center; 
  font-weight: bold;
  margin-bottom: 38px;
  }
.tab-group li a:hover {
 
  color: #ffffff;
}
.tab-group .active a {
  background: #ef7f1a;
  color: #ffffff;
}
.tabregister a{color: #888;
    text-decoration: none;
	}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  padding:5px 0;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 13px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
 border: 1px solid #999;
  color: #333;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus, select:focus{
  outline: 0;
  border-color: #0071a8;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 19px;
  padding:0 16px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #ef7f1a;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #0071a8;
}

.button-block {
  display: inline-block;
   
    margin: 1px 85px;
    padding: 10px;
}

.forgot {
  font-size: 0.9em;
  margin: 0 70px;
    padding: 5px 0;
    text-align: right;
}


p.spam {
	margin:1em 0 0.5em 0;
	color:#cf0000;
	font-size: 0.875em;
	font-weight: normal;
	line-height: 1.5em;
}
.main-title-head h5 {
	color: #cf0000;
	font-size: 1.45em;
	font-weight: 400;
	word-spacing: 3px;
	float: left;
	font-family: 'bebasregular';
	padding-bottom: 4px;
}	
.main-title-head h4 {
	color: #202021;
	font-size: 1.6em;
	font-weight: 400;
	word-spacing: 3px;
	float: right;
	font-family: 'bebasregular';
	padding-bottom: 4px;
}	
.popular-grid {
	border-bottom: 1px dotted #202021;
	margin-bottom: 1.5em;
	padding-bottom: 1.5em;
}
.popular-grid i {
	font-size:0.8em;
	font-weight:normal
}
.popular-grid p {
	color: #202021;
	font-size: 0.95em;
	font-weight: bold;
	line-height:1.3em;
}
.popular-grid p a{
	color:#cf0000;
	font-weight:normal;
}
.popular-grid:nth-child(5) {
	border:none;
	padding-bottom:0;
}
.save {
	float:left;
	width:50%;
}
.subscribe-now {
	margin-top:2em;
}
.discount {
	background:#cf0000;
	padding:1em;
}
.save p {
	color:#fff;
	font-family: 'bebasregular';
	font-weight:400;
	font-size:2.2em;
}
.percent h2 {
	color:#fff;
	font-family: 'bebasregular';
	font-weight:400;
	font-size:5em;
	margin-top: 11px;
}
.percent {
	float:right;
	width:50%;
}
.subscribe-now a {
	text-decoration: none;
}
h3.sn {
	color: #cf0000;
	font-size: 1.8em;
	font-weight: 400;
	word-spacing: 3px;
	font-family: 'bebasregular';
	text-align:center;
	background:#ffd800;
	padding:0.5em 0 0.3em 0;
}
/*-- about-section --*/
.about-left h3,.about-right h3 {
	color: #020202;
	font-size: 2em;
	font-weight: 500;
	font-family: 'bebasregular';
	margin-bottom: 0.8em;
}
.about-left h5 {
	margin-bottom: 0.5em;
	line-height:1.5em;
	color: #202021;
	font-size: 1em;
	font-weight: bold;
}
.about-section {
	padding: 2.5em 0;
}
.abt_image {
	float: left;
	margin-right: 5%;
	width: 43%;
}
.abt_image img {
	width:100%;
}
.about-left p {
	color: #848484;
	font-size: 0.95em;
	font-weight: normal;
	line-height: 1.5em;
	margin: 8px 0;
}
.offer{
	margin-bottom: 2em;
}
.offer h4 {
	float: left;
	width: 6%;
	margin-right: 3%;
	text-align: center;
	color:#fff;
	background:#404349;
	font-size:0.9em;
	font-weight:normal;
	padding:5px;
	  border-radius: 5px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
.offer a {
	color: #f15779;
	float: left;
	font-size: 1.2em;
	font-weight: 700;
	margin-bottom: 0.7em;
}
.offer p {
	color: #848484;
	font-size: 0.95em;
	font-weight: normal;
	line-height: 1.5em;
	margin: 8px 0;
}
.about-left {
	padding: 0 6em 0 0;
	border-right: 1px solid #eee;
	margin-right: 2%;
	width: 55%;
}
.about-right{
	padding:0 0 0 4em;
}
.about-us {
	border-bottom: 1px dotted #A4A4A4;
	padding-bottom: 2em;
	margin-bottom:4em;
}
.team h3 {
	color: #020202;
	font-size: 2em;
	font-weight: 500;
	font-family: 'bebasregular';
	margin-bottom: 0.8em;
}
.team-grid img {
	width:100%:
}
.team-grid p {
	color: #848484;
	font-size: 0.95em;
	font-weight: normal;
	line-height: 1.5em;
	margin: 8px 0;
}
.team-grid h5 {
	color: #373a3f;
	font-size: 13px;
	font-weight: bold;
	margin-top:1em;
}
/*-- contact --*/
.contact-section{
	padding:3em 0;
}
.contact-section-head h3 {
	color: #020202;
	font-size: 2em;
	font-weight: 500;
	font-family: 'bebasregular';
	margin-bottom: 0.8em;
}
.map{
	width:100%:
}
.map iframe{
	min-height:350px;
	width:100%;
}
.address p {
	color: #777777;
	font-size: 1.15em;
	font-weight: 500;
	line-height: 1.5em;
}
.address h5 {
	color: #222222;
	font-size: 1.3em;
	font-weight: 600;
	margin-bottom:0.8em;
}
p.bottom{
	margin-bottom:0.9em;
}
.contact-form-row span {
	color: #777777;
	font-weight: 700;
	font-size: 1.2em;
	display: block;
	margin-bottom: 5px;
}
.contact-form-row input[type="text"], .contact-form-row textarea {
	width: 100%;
	color: #777777;
	font-size: 16px;
	padding: 7px 10px;
	border: none;
	outline: none;
	margin: 0 0px 15px 0;
	background: #ededed;
	border-radius:5px;
	margin-bottom:18px;
}
.contact-form-row textarea {
	resize:none;
	height:130px;
}
img.code{
	margin-bottom:1em;
}
.contact-form-row input[type="submit"] {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing:1px;
	font-weight: 400;
	border: 1px solid #fff;
	padding: 12px 26px;
	outline: none;
	background: #cf0000;
	margin-top: 1em;
	border-radius:5px;
}
.contact-form-row input[type="submit"]:hover{
	background:#000;
}
.contact-form-bottom {
	margin-top: 2em;
}
/**-movies --*/
.mright-posts {
	width: 28%;
	float: left;
	margin-right: 4%;
}
.mleft-posts {
	width: 68%;
	float: right;
}
.mpopular {
	margin:1em 0 3em 0;
}
/*----*/
.grid-might{
	float:left;
	width: 24%;
	margin-right: 5%;
}
.might-top{
	float:right;
	width:71%;
}
.might-top p{
	font-size:0.9em;
	color:#494949;
	line-height:1.8em;
}
.might-grid {
	padding: 1em 0 0;
}
.might h4 {
	color: #202021;
	font-size: 1.6em;
	font-weight: 400;
	word-spacing: 3px;
	float: left;
	font-family: 'bebasregular';
	margin-bottom: 0.8em;
}
.might-top a{
	text-decoration:none;
	color:#dfb636;
	font-size:0.95em;
	display:inline-block;
	padding: 0.5em 0 0;	
}
.might-top a:hover{
	color:#ec098d;
}
.might-top a i{
	background: url(../images/img-sprite.png)no-repeat -103px -103px;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
}
.grid-top h4,.grid-top-in h4 {
	background: #df2411;
	color: #fff;
	padding: 10px 20px;
	font-size: 1.35em;
	font-weight: 700;
	display: block;
	line-height: 1em;
	text-transform: uppercase;
}
/*----*/
.grid-top ul li{
	background: url(../images/dot.png) no-repeat 0px 17px;
	padding: 12px 0px 5px 17px;
	border-bottom: 1px solid #E8E6E6;
	list-style-type:none;
}
.grid-top ul li:nth-child(7){
	border-bottom:none;
}
.grid-top ul li a{
	color:#494949;
	line-height:1.8em;
	text-decoration:none;
	font-size: 0.9em;
	padding: 0 0 10px;
	display: block;
}
.grid-top ul li a:hover{
	color:#cf0000;
}
.grid-top-in p{
	color:#5261ac;
	font-size:1.3em;
	line-height: 1.7em;
	padding: 0.5em 0 0;
}
.grid-top-in p a{
	color:#5261ac;
	text-decoration:none;
}
.grid-top-in p a.bun{
	font-size:0.8em;
}
.grid-top-in p a.lop{
	color:#f78f1d;
	font-size:1.3em;
	font-weight: 700;
}
.grid-top-in p a.dan{
	font-size:1.6em;
	font-weight: 500;	
}
.grid-top-in p a.eva{
	font-size:1.4em;	
}
.grid-top-in p a.jol{
	font-size:1.4em;
	font-weight: 700;	
}
.grid-top {
	padding:1em 0 0.5em;
}
.grid-top-in p a:hover{
	color:#ec098d;
}
.might {
	margin: 0.5em 0 3em 0;
}
.single {
	margin-top:2em;
}
.single h3{
	color:#000;
	font-size:1.7em;
	font-weight:600;
	margin-bottom:1em;
}
.single p{
	color:#000;
	font-size:1.4em;
	font-weight:600;
	margin-bottom:1em;
}
.single p i {
	font-weight:400;
	font-size:0.95em;
}
.best-review {
	border-top: 3px solid #000;
	padding: 1.5em 0;
}
.story-review {
	border-top: 3px solid #000;
	padding: 1.5em 0;
	border-bottom: 3px solid #000;
}
.story-review h4 {
	color:#000;
	font-size:1.6em;
	font-weight:600;
	margin-bottom:0.7em;	
}
.best-review  h4 {
	color:#000;
	font-size:1.6em;
	font-weight:600;
	margin-bottom:0.7em;	
}
.story-review p {
	color:#000;	
	font-weight: 400;
	font-size: 1em;
	line-height:1.8em;
}
.best-review p span {
	color:#37a4c5;
	font-weight:600;
}
.best-review p {
	margin-top:0.8em;
}
/*----*/
.featured ul li {
	display: inline-block;
	width: 28.333%;
	float: left;
	margin: 2.5%;
}
.featured ul li img {
	width:100%;
}
.featured ul li p {
	font-weight: 400;
	margin-top: 5px;
	line-height: 1.4em;
	font-size: 0.9em;
	color: #494949;
}
.featured h3 {
	color: #202021;
	font-size: 1.6em;
	font-weight: 400;
	word-spacing: 3px;
	float: left;
	font-family: 'bebasregular';
	margin-bottom: 0.8em;
}
.featured {
	border-top: 4px solid #000;
	padding: 1em 0;
}
.mlatest-articles {
	margin: 0 0 2em 0;
}
/*-- blog --*/
/*----content----*/
.blog-main-content,.movie-main-content {
	padding: 2em 0;
}
a.gotosingle { 
	 color: #202021;
	font-size: 1.2em;
	font-weight: 400;
	word-spacing: 3px;	
	margin-bottom: 4px;
	text-decoration:none;
	 line-height: 1.2;
}

.grid img{
	float:left;
	background: #fff;
	padding: 5px;
	box-shadow: 0px 0px 5px #ddd;
	width: 20%;
}
img.blog:hover{
	opacity: 0.9;
}
.grid p{
	font-size: 0.92em;
	color: rgb(155, 155, 155);
	line-height: 1.8em;
	width: 100%;
}
img.blog {
	margin-right: 2em;
}
.grid p a{
	color:#EA5546;
	font-size:0.8em;
	margin-left:10px;
}
.grid-header ul li{
	display: inline-block;
}
.grid-header ul li a{
	color:#cf0000;
	font-size:0.8em;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
.grid-header ul li a:hover,.content-pagenation li a:hover{
	color:rgb(80, 80, 80);
}
.grid-header ul li span{
	font-size:0.85em;
	color: rgb(155, 155, 155);
}
.grid-header ul li span a {
	font-size: 1em;
	color: rgb(155, 155, 155);
}
.readmore{
	float: right;
	color: #cf0000;
	font-size: 0.8em;
	background: #fff;
	padding: 10px 12px;
	box-shadow: 0px 0px 10px #ddd;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
.readmore:hover{
	color: rgb(80, 80, 80);
}
.grid ul{
	padding:0px 0px 10px 0px;
}
.comments li {
	display:inline-block;
	margin-top: 10px;	
}
.grid-img-content {
	padding: 10px 0px;
}
.comments li img{
	vertical-align:center;
}
.comments li:last-child{
	float:right;
}
.comments{
	margin: 10px 0px -2px 0px;
	border-top: 1px ridge rgb(240, 240, 240);
}
.grid.box {
	border-bottom: 1px ridge rgb(240, 240, 240);
	margin-bottom:3em;
}
/*----content-pagenation----*/
.content-pagenation{
	float:left;
	margin-top: 26px;
	background: url(../images/content-border-bottom.png) bottom;
}
.content-pagenation ul li{
	list-style:none;
}
.content-pagenation  li{
	display:inline-block;
}
.content-pagenation li a{
	color: #cf0000;
	font-size: 0.8em;
	background: #fff;
	padding: 10px 12px;
	box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.36);
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
.content-pagenation li span{
	color: #cf0000;
	font-size: 0.8em;
}
.l_g_r h4 {
	line-height: 1.4em;
	color: #202021;
	font-size: 1.3em;
	font-weight: 400;
	word-spacing: 3px;
	font-family: 'bebasregular';
	margin-bottom:0.6em;
}
.l_g_r h6 a {
	color: #868f98;
	font-size: 1.1em;
	font-weight: 400;
	line-height: 2em;
	text-decoration: none;
}
.l_g_r h6 a:hover {
	color:#cf0000;
	padding-left:3px;
}
.posts,.recent-comments,.archievs,.categories {
	margin-bottom:3em;
}
span {
	color: #000;
}
.l_g_r {
	margin-left: 3em;
}
.singlepage img {
	float: none;
	width:100%;
}
.singlepage p {
	float: none;
	width: 100%;
	margin:1.5em 0 0.5em 0;
}
ul.comment-list {
	border: 1px solid #BAB6B6;
	padding: 2em;
	margin: 3em 0;
	list-style: none;
}
h5.post-author_head {
	font-size: 1.3em;
	color: #848484;
	margin: 0 0 1em;
}
h5.post-author_head a{
	color: #848484;
}
h5.post-author_head a:hover{
	color: #00aeff;
}
ul.comment-list img {
	float: left;
	width: 10%;
	margin-right: 20px;
}
.desc p {
	font-size: 1.2em;
	color: #848484;
	margin-top: 1em;
	display: inline-block;
}
.desc p a{
	color: #cf0000;
}
.desc p a:hover{
	color: #848484;
}
.content-form form input[type="text"], .content-form form textarea {
	padding: 10px 15px;
	width: 100%;
	color: #333;
	font-size: 1em;
	border: 1px solid #E3E3E3;
	outline: none;
	display: block;
	margin: 10px 0;
}
.content-form form textarea {
	height: 200px;
	resize: none;
}
.content-form form input[type="submit"] {
	color: #fff;
	background: #cf0000;
	padding: 0.7em 1.7em;
	text-decoration: none;
	font-size: 0.9em;
	display: inline-block;
	margin-top: 1em;
	border: none;
	outline: none;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.content-form form input[type="submit"]:hover{
	background:#000;
}
.content-form h3 {
	color: #202021;
	font-size: 1.4em;
	font-weight: 400;
	word-spacing: 3px;
	font-family: 'bebasregular';
	margin-bottom: 1em;
}

.msingle-grid img {
  background: #fff;
  padding: 5px;
  box-shadow: 0px 0px 5px #ddd;
  margin-top: 1.2em;
}
.msingle-grid h3 {
  color: #202021;
  font-size: 1.4em;
  font-weight: 400;
  word-spacing: 3px;
  font-family: 'bebasregular';
  margin-bottom: 4px;
}
.msingle-grid p {
  font-size: 0.92em;
  color: rgb(155, 155, 155);
  line-height: 1.8em;
}
.singlepage p {
  float: none;
  width: 100%;
  margin: 1.5em 0 0.5em 0;
}
.single {
	margin-top:2em;
}
.single h3{
	margin-bottom:1em;
	color: #202021;
	font-size: 1.4em;
	font-weight: 400;
	word-spacing: 3px;
	font-family: 'bebasregular';
}
.single p{
	color:#000;
	font-size:1.4em;
	font-weight:600;
	margin-bottom:1em;
}
.single p i {
	font-weight:400;
	font-size:0.95em;
}
.best-review {
	border-top: 3px solid #000;
	padding: 1.5em 0;
}
.story-review {
	border-top: 3px solid #000;
	padding: 1.5em 0;
	border-bottom: 3px solid #000;
}
.story-review h4 {
	margin-bottom:0.7em;	
	color: #202021;
	font-size: 1.4em;
	font-weight: 400;
	word-spacing: 3px;
	font-family: 'bebasregular';
}
.best-review  h4 {
	margin-bottom:0.7em;
	color: #202021;
	font-size: 1.4em;
	font-weight: 400;
	word-spacing: 3px;
	font-family: 'bebasregular';
}
.story-review p {
	color:#000;	
	font-weight: 400;
	font-size: 1em;
	line-height:1.8em;
}
.editor img {
	width: 100%;
}
/*-- sportspage --*/
.c-image{
	float:left;
	width:48%;
	margin-right:3%;
}
.c-image img {
	width:100%;
}
.c-text {
	float:left;
	width:49%;
}
.sc-image{
	float:left;
	width:30%;
	margin-right:3%;
}
.sc-image img {
	width:100%;
}
.sc-text {
	float:left;
	width:67%;
}
.s-grid-left {
	float:left;
	width:49%;
	margin-right:2%;
}
.s-grid-right {
	float:right;
	width:49%;
}
.cricket h3 {
	background: #cf0000;
	color: #fff;
	font-size: 1.5em;
	font-weight: 400;
	  padding: 9px 0 5px 10px;
	font-family: 'bebasregular';
	margin-bottom:1em;
}
.s-grid-small{
	margin-top:1.5em;
}
a.power {
	  color: #202021;
  font-size: 1em;
  font-weight: bold;
  text-transform: lowercase;
  display: block;
  text-decoration: none;
}
a.power:hover {
	color: #cf0000;
}
.c-text p {
	color:#000;
	font-size:0.95em;
	font-weight:300;
	text-transform:uppercase;
}
.sc-text p {
	color:#000;
	font-size:0.95em;
	font-weight:300;
	text-transform:uppercase;
}
a.reu {
	  font-size: 0.95em;
  font-weight: 400;
  color: #7f7f7f;
  text-transform: capitalize;
}
.sports-top {
	margin-bottom:2em;
}
.photos h3 {
  background: #cf0000;
  color: #fff;
  font-size: 1.5em;
  font-weight: 400;
   padding: 9px 0 5px 10px;
  font-family: 'bebasregular';
  margin-bottom: 1em;
}
/**- tech-section--*/
.tech img {
	width:100%;
	margin-bottom:0.5em;
}
.technology {
	margin: 0em 0 2em 0;
}
/*-- business --*/
.bull {
	  float: left;
  width: 37%;
  margin-right: 3%;
  padding: 5px;
  border: 1px solid #000;
}
.bull img {
	width:100%;
}
.bull-text {
	float:right;
	width:60%;
}
.live-market h3 {
	  color: #202021;
  font-size: 1.6em;
  font-weight: 400;
  word-spacing: 3px;
  font-family: 'bebasregular';
  padding-bottom: 4px;
  margin: 10px 0;
  border: 1px solid;
  padding: 8px 0 4px 8px;
}
.live-market h3 span {
	background:#ff0000;
	padding: 5px 5px 0 05px;
	color:#fff;
}
.live-market {
	margin-bottom:2em;
}
a.bull1 {
  color: #000;
  font-size: 2em;
  font-weight: 400;
  text-decoration: none;
}
.bull-text p {
	margin: 7px 0 20px 0;
	font-size: 1.2em;
}
.bull-text ul li {
	margin:3px 0;
}
.bull-text ul li a{
	color: #202021;
  font-size: 1em;
  font-weight: bold;
  margin-top: 10px;
  text-transform: lowercase;
  display: block;
  text-decoration: none;
}
.bull-text ul li a:hover {
	color: #cf0000;
}
/*-- classifieds --*/
.classifieds{
	margin-top:1em;
}
.classifieds h3 {
	  color: #202021;
	  font-size: 2em;
	  font-weight: 400;
	  word-spacing: 3px;
	  font-family: 'bebasregular';	  
}
.classified-grid {	
	width: 30.333%;
	text-align: center;
	border: 1px solid #000;
	padding: 6em 0;
	float:left;
	margin-right:3%;
}
.classified-grids {
	margin-top: 2em;
}
.view {
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
}
.view.view-tenth a {
	display: block;
}
.view .mask {
  position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   height:243px;
   padding:4em 0;
}
.view img {
   display: block;
   position: relative;
}
.view h4 {
color: #fff;
text-align: left;
position: relative;
font-size: 1.3em;
padding: 0 1em;
font-weight: 700;
margin: 0.5em 0 0 0;
}
.view p {
font-size: 0.9em;
position: relative;
color: #fff;
padding: 1em 2em;
text-align: left;
}
.view-tenth img {
   -webkit-transform: scaleY(1);
   -moz-transform: scaleY(1);
   -o-transform: scaleY(1);
   -ms-transform: scaleY(1);
   transform: scaleY(1);
   -webkit-transition: all 0.7s ease-in-out;
   -moz-transition: all 0.7s ease-in-out;
   -o-transition: all 0.7s ease-in-out;
   -ms-transition: all 0.7s ease-in-out;
   transition: all 0.7s ease-in-out;
}
.view-tenth .mask {
   background-color:#111;
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-tenth p {
   color: #fff;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.view-tenth.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.view-tenth:hover img {
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-tenth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
     cursor: pointer;
}
.view-tenth:hover h4,.view-tenth:hover p {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.mask h5 {
  color: #39465d;
  font-size: 1em;
  font-style: italic;
  padding-right: 1em;
    margin-top: 1em;
}
/*-- register style starts-here --*/

.regisform {margin: 0 13px;}
.regi-content{
	width:100%;
	margin: 10px 10px 60px;
}
.regi-content select{
	height: 100%;
    font-size: 13px;
    color:#888;
}
.regi-content input, select{
	width:100%;
	margin-bottom:20px; 
	 border-color: -moz-use-text-color -moz-use-text-color #ccc;
    border-style: none none solid;
    border-width: medium medium 1px;
    margin-bottom: 20px;
}
.regi-content input[type="submit"], input[type="reset"]{
	    background: #ef7f1a none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 0;
	width: 30%;
	margin: 0 2px;
}
.regi-content h3{
	font-family: "bebasregular";
    font-size: 20px;
    margin-bottom: 10px;
}
.regi-content option:focus{
  outline:0;
 background-color:#0071a8; 
}
.regi-color.active a{background:#6C6F73 !important;}

.form_arrow{background: rgba(0, 0, 0, 0) url("../images/arrow.png") no-repeat scroll 97% center;
    border: 0 none;
    float: left;
    height: 24px;
    margin: 3px 0 20px;
    overflow: hidden;
    padding: 0;
    width: 100%;
	}
.form-select {
    -moz-appearance: none;
    background-color: transparent;
    border-radius: 0;   
    box-shadow: none;
    font-size: 14px;
    height: auto;
    margin: 0;
    max-width: 106%;
    padding: 0;
    text-indent: 0.01px;
    text-overflow: "";
    width: 106%;
}
.welcome-profile{ border-bottom:1px solid #ccc;
    padding: 10px;
    width: 100%;
	}
	
.welcome-profile a{ color:#000;
	}
.welcome-profile:hover{ background-color: #0071a8; color:#fff;
    
	}
.welcome{}

/*-- responsive-design starts-here --*/

@media screen and (max-width: 1440px) {
	
	.contact-form-row input[type="text"], .contact-form-row textarea {
		margin-bottom: 12px;
	}
	.contact-section {
		padding: 2em 0;
	}
}
@media screen and (max-width: 1280px) {
	
	.about-left h3, .about-right h3, .team h3 {
		font-size: 1.8em;
	}	
	.map iframe {
		min-height: 299px;
	}
	.story-review p {
		font-size:0.9em;
	}
	ul.comment-list {
		margin: 0.5em 0 3em 0;
	}
}
@media screen and (max-width: 1024px) {
	.header-right {
		width: 64%;
	}
	.search {
		width: 31%;
	}
	.top-menu {
		margin-top: 0.4em;
	}
	.social-icons li {
		margin: 0 0px;
	}
	.logo a h1 {
		font-size: 2em;
	}
	.logo a h6 {
		font-size: 1em;
	}
	.menu-strip ul li a {
		font-size: 1em;
		padding: 1em 1.233em 1em;
	}
	.logo {
		margin-top: 12px;
	}
	.menu-strip {
		padding: 0.72em 0 0.8em 0;
	}
	.breaking-news-title {
		padding: 0.4em 7em;
	}
	.breaking-news-title p {
		font-size: 0.875em;
	}
	.news-paper {
		padding: 0.6em 1em;
		margin: 2.2em 0;
	}
	.side-bar {
		padding: 0 0 0 20px;
	}
	.percent h2 {
		font-size: 4em;
		margin-top: 16px;
	}
	.popular-grid p {
		font-size: 0.899em;
	}
	.video-name a {
		font-size: 0.875em;
	}
	.video {
		padding: 0.8em 0;
	}
	.videos {
		padding: 1.5em 0.8em 0.5em 0.8em;
	}
	.video-grid {
		margin-bottom: 1.2em;
	}
	.tech-news-grid p {
		font-size: 0.875em;
	}
	.tech-news-grid h4 {
		font-size: 1em;
	}
	.main-title-head h3 {
		font-size: 1.5em;
	}
	.main-title-head {
		border-bottom: 3px solid #cf0000;
		margin-bottom: 1.5em;
	}		
	.editor a {
		font-size: 0.875em;
	}
	.rslides_tabs {
		bottom: 1%;
	}
	.world-news-grid p {
		font-size: 0.875em;
	}
	.desk p {
		font-size: 0.875em;
	}
	.footer {
		margin-top: 0em;
	}
	.desk-grid h3 {
		font-size: 1.5em;
		border-bottom: 3px solid #cf0000;
		margin-bottom: 0.8em;
	}	
	.main-title-head h4 {
		font-size: 1.5em;
	}
	.sign_up {
		padding: 1.2em 0.5em;
		margin: 2em 0;
		clear:both;
	}
	.sign_up h3 {
		font-size: 1.3em;
	}
	.popular-grid {
		margin-bottom: 1.2em;
		padding-bottom: 1.2em;
	}
	p.sign {
		font-size: 0.8em;
	}
	p.spam {
		font-size: 0.75em;
	}
	.copyright {
		padding: 1.5em 0 0.5em 0;
	}
	.about-left {
		padding: 0 2em 0 0;
	}
	.about-left h5 {
		font-size: 0.96em;
	}
	.about-right {
		padding: 0 0 0 1em;
	}
	.team-grid img {
		width: 100%;
	}		
	.team-grid p {
		font-size: 0.875em;
		line-height: 1.6em;
	}
	.team-grid {
		padding:0 8px;
	}
	.offer a {
		font-size: 1.12em;
	}
	.offer p {
		font-size: 0.9em;
	}
	.about-us {
		margin-bottom: 3em;
	}
	.address p {
		font-size: 1.1em;
	}
	.contact-section-head h3 {
		font-size: 1.8em;
		margin-bottom: 0.6em;
	}
	.might h4 {
		font-size: 1.5em;
		margin-bottom: 0.6em;
	}
	.might-top p {
		font-size: 0.875em;
		line-height: 1.6em;
	}
	.might-top a {
		font-size: 0.875em;
		padding: 0.3em 0 0;
	}
	.featured h3 {
		font-size: 1.5em;
		margin-bottom: 0.6em;
	}
	.featured ul li {
		width: 29.333%;
		margin: 2%;
	}
	.featured ul li p {
		margin-top: 3px;
		font-size: 0.81em;
	}
	.grid-top ul li a {
		font-size: 0.875em;
	}
	.mright-posts {
		width: 29%;
		margin-right: 3%;
	}
	.single p i {
		font-size: 0.8em;
	}
	.content-pagenation {
		margin-top: 10px;
	}
	img.blog {
		width: 41%;
	}
	.l_g_r {
		margin-left: 2em;
	}
	ul.comment-list {
		margin: 0 0 3em 0;
	}
	.photos {
		margin-bottom:2em;
	}
	a.bull1 {
		font-size: 1.7em;
	}	
	.bull-text p {
		margin: 5px 0 10px 0;
		font-size: 1em;
	}
	.main-content {
		margin-bottom: 2em;
	}
}
@media screen and (max-width: 768px) {
	.videos {
		width:60%;
		float:left;
		margin-right:5%;
	}
	.sign_up {
		width:35%;
		float:left;
		margin: 0;
	}
	.popular {
		width:60%;
		float:left;
		margin:3em 0;
	}
	.subscribe-now {
		width:35%;
		float:left;
		margin-left:5%;
		margin-top: -4em;
	}
	.side-bar {
		padding: 0;
	}
	.bottom-menu ul li {
		margin: 0 4px;
	}
	.about-left {
		padding: 0em 0em 2em 0;
		width: 100%;
		border-right:none;
	}
	.team-grid {
		width:20%;
		float:left;
	}
	.team-grid:nth-child(5){
		display:none;
	}
	.about-right {
		padding: 0;
	}
	.about-left h3, .about-right h3, .team h3 {
		font-size: 1.65em;
	}
	.about-us {
		padding-bottom: 1em;
	}
	.contact-form-row {
		margin: 2em 0;
	}
	.map iframe {
		min-height: 250px;
	}
	.contact-section-head h3 {
		font-size: 1.65em;
		margin-bottom: 0.5em;
	}
	.might h4 {
		float: none;
	}
	.might {
		float:left;
		width:50%;
	}
	.featured {
		width:47%;
		float:left;
		margin-left:3%;
	}
	.mleft-posts {
		float: left;
	}
	.mright-posts {
		float:right;
		margin-left: 3%;
		margin-right:0;
	}
	.might {
		margin: 0em 0 1em 0;
	}
	ul.comment-list {
		margin: 2em 0;
	}
	.content-form {
		margin-bottom:2.5em;
	}
	.l_g_r {
		margin-top: 4em;
		margin-left:0;
	}
	.header-right {
		width: 57%;
	}
	.top-menu ul li {
		margin: 0 0.58em;
	}
	.top-menu {
		margin: 0.4em 0;
	}
	.search {
		width: 46%;
	}
	.logo {
		margin-top: 26px;
	}
	.menu-strip ul li a {
		font-size: 0.95em;
	}
	a.more1 {
		margin-right: -11px;
	}
	.menu-strip ul li a {
		font-size: 1em;
		padding: 1.1em 0.447em 0.85em;
	}
	.menu-strip {
		padding: 0.75em 0 0.7em 0;
	}
	.header-right {
		margin-top: -40px;
	}
	.tech {
		width: 33.333%;
		float: left;
	}
	.classifieds {
		margin-top: 1em;
		margin-bottom:2em;
	}
}
@media screen and (max-width: 640px) {
	.logo a h1 {
		font-size: 1.75em;
	}
	.logo a h6 {
		font-size: 0.95em;
	}
	.top-menu ul li a {
		font-size: 0.85em;
	}
	.top-menu ul li {
		margin: 0 0.2em;
	}
	.top-menu {
		margin: 0.2em 0 0.4em 0;
	}
	.search {
		width: 57%;
		padding: 2px 6px;
	}
	.search input[type="submit"] {
		background: url('../images/sprit-1.png') no-repeat 0px -1px #202021;
		width: 30px;
		height: 27px;
	}
	.news-paper {
		padding: 0.6em 0.5em;
		margin: 1em 0;
	}
	h5.breaking {
		font-size: 0.875em;
		width: 19%;
		margin: 0px 0 -7px -7px;
		padding: 5px 0;
	}
	.menu-strip ul li a {
		font-size: 0.822em;
	}
	.menu-strip {
		padding: 0.53em 0 0.52em 0;
		margin: 0.6em 0;
	}
	.header-right {
		width: 55%;
	}
	.slider {
		padding: 0.5em;
	}
	.main-title-head h3 {
		font-size: 1.4em;
		padding-bottom: 0;
	}
	.main-title-head {
		border-bottom: 2px solid #cf0000;
		margin-bottom: 1.2em;
	}
	.main-title-head a {
		margin-top: 4px;
	}
	.desk-grid h3,.editorial h3 {
		font-size: 1.4em;
		border-bottom: 2px solid #cf0000;
		margin-bottom: 0.6em;
	}
	.world-news-grid {
		width: 32%;
		margin-right: 2%;
	}
	.world-news-grid h5 {
		font-size: 0.9em;
		margin-top: 6px;
	}
	.world-news-grid p {
		font-size: 0.825em;
	}
	.sign_up {
		width: 36%;
	}
	.videos {
		margin-right: 4%;
	}
	.desk h5 {
		font-size: 0.9em;
	}
	.desk p {
		font-size: 0.825em;
	}
	.desk {
		margin-bottom: 1.5em;
	}
	.editor a {
		font-size: 0.8em;
	}
	.tech-news-grid h4 {
		font-size: 0.95em;
	}
	.bottom-menu ul li a {
		font-size: 0.875em;
	}
	.bottom-menu ul li {
		margin: 0 -1px;
	}	
	.team-grid:nth-child(4) {
		display: none;
	}	
	.team-grid{
		width:25%;
	}
	a.gotosingle,.msingle-grid h3 {
		font-size: 1.25em;
	}
	.grid.box {
		margin-bottom: 2em;
	}
	.single p i {
		font-size: 0.75em;
	}
	.single h3,.best-review h4,.story-review h4 {
		font-size: 1.2em;
	}
	.single p {
		font-size:1.25em;
	}
	.best-review {
		border-top: 2px solid #000;
	}
	.story-review {
		border-top: 2px solid #000;
		padding: 1.3em 0;
		border-bottom: 2px solid #000;
	}
	.about-section {	
		padding: 1.5em 0;
	}
	.about-left h3, .about-right h3, .team h3 {
		font-size: 1.5em;
	}
	.featured h3 {
		font-size: 01.3em;
	}
	.featured {
		border-top: 2px solid #000;
	}
	.l_g_r {
		margin-left: 2em;
	}
	a.power {
		font-size: 0.875em;
	}
	.tech {
		padding:5px 7px;
	}
	.live-market h3 {
		font-size: 1.4em;	 
	}
	.classified-grid {
		padding: 4em 0;
	}
	.classifieds h3 {
		font-size: 1.5em;
	}
	.classified-grids {
		margin-top: 1em;
	}
	.classified-grid h4 {
		font-size: 1em;
	}
}
@media screen and (max-width: 480px) {
	.header-right {
		width: 100%;
		margin: 1em 0;
	}
	.logo a h1 {
		font-size: 1.55em;
	}
	.logo {
		margin-top: 4px;
	}
	.search {
		width: 30%;
		padding: 1px 4px;
		margin:0 auto;
		float:right;
		color:#000;
	}
	.search input[type="submit"] {
		height: 25px;
	}
	.top-menu ul li a {
		font-size: 0.8em;
	}
	.top-menu {
		width: 67%;
		float: left;
		margin:0;
	}
	.top-menu ul li {
		margin: 0 0.05em;
	}
	.rslides_tabs a {
		border: 1px solid #202021;
	}
	
	.breaking-news-title p {
		font-size: 0.8em;
		height:30px;
		overflow:hidden;
		line-height: 1.5em;
	}
	.breaking-news-title {
		padding: 0.3em 4.5em;
	}		
	h5.breaking {
		width: 25%;
	}
	.rslides_tabs {
		bottom: -2%;
	}
	.subscribe-now {
		margin-top: 0em;
	}
	.percent h2 {
		font-size: 3em;
	}
	.save p {
		font-size: 1.75em;
	}
	h3.sn {
		font-size: 1.3em;
	}
	.world-news-grid a {
		font-size: 0.8em;
	}
	.main-title-head h3 {
		font-size: 1.3em;
	}
	.main-title-head a {
		margin-top: 2px;
	}
	.desk-grid h3, .editorial h3 {
		font-size: 1.25em;
		margin-bottom: 0.5em;
	}
	.desk p a {
		display: block;
	}
	.desk p span {
		margin-left: 0em;
	}
	.about-left h5 {
		font-size: 0.9em;
		height: 35px;
		overflow: hidden;
	}
	.team-grid:nth-child(2) {
		display: none;
	}
	.team-grid {
		width:33.33333%;
	}
	a.gotosingle, .msingle-grid h3 {
		font-size: 1.2em;
	}
	img.blog {
		width: 52%;
	}
	span.menu{
		width: 100%;
		height: 33px;
		background: url(../images/nav.png)no-repeat 5px 0px #000;
		display: inline-block;
		float: left;
		cursor: pointer;
		margin: 0px 0 0em 0;
	}
	.menu-strip{
		width:100%;
		display: none;
		text-align:center;
		background:#000;
		padding:0;
		margin-top:10px;
	}
	.menu-strip ul{
		float:none;
		width:100%;
	}
	.menu-strip ul li{
		display:block;
		float: none;
	}
	.menu-strip ul li a{
		display: block;
		padding: 10px 0 7px 0px;
	}
	.menu-strip ul li a.active{
		color:#fff;
	}
	.menu-strip ul li a:hover{
		color:#fff;
	}
	.main-content {
		margin-top: 1em;
	}
	.menu-strip ul li:last-child {
		text-align:center;
	}
	.s-grid-left {
		width: 100%;
		margin-right: 0%;
		margin-bottom:2em;
	}
	.s-grid-right {
		width:100%;
	}
	a.power {
		font-size: 0.7em;
	}
	.tech {
		padding:4px 5px;
	}
	.bull-text {
		width:100%;
	}
	a.bull1 {
		font-size: 1.4em;
	}
	.bull {
		width: 60%;
		margin-right: 0%;
		padding: 5px;
		margin-bottom:0.5em;
	}
	.classified-grid {
		padding: 3em 0;
	}
	.popupContainer {
		top: 80px!important;
	}
}
@media screen and (max-width: 320px) {
	.left-posts {
		width: 100%;
		margin-right: 0%;
		margin-bottom:1.5em;
	}
	.right-posts {
		width:100%;
	}
	.videos {
		margin-right: 0%;
		width:100%;
	}
	.sign_up {
		width: 100%;
		margin-top:1.5em;
	}
	.popular {
		width: 100%;
	}
	.subscribe-now{
		width: 100%;
		margin-left:0;
		margin-bottom:1.5em;
	}
	.copyright p {
		font-size: 0.875em;
	}
	.footer {
		padding: 1.5em 0 0.5em 0;
	}
	.left-tech-news,.right-tech-news {
		width: 100%;
		border-bottom: 1px dotted #202021;
		margin-bottom: 1.5em;
		padding-bottom: 1.3em;
	}
	.save p {
		text-align: right;
		margin-right:0.5em;
	}
	.percent h2 {
		font-size: 4em;
		margin-top: 9px;
	}
	.slider {
		padding: 0.2em;
	}
	h5.breaking {
		width: 38%;
		font-size: 0.75em;
		margin: 0px 0 -3px -3px;
		padding: 4px 0;
	}
	.breaking-news-title {
		padding: 0.2em 1.5em;
	}
	.rslides_tabs {
		bottom: -10%;
	}
	.top-menu {
		width: 100%;
	}		
	.top-menu ul li a {
		font-size: 0.75em;
	}
	.top-menu ul li {
		margin: 0em;
	}
	.search {
		width:100%;
		margin-top:10px;
	}
	.social-icons {
		width:100%;
		text-align:center;
		margin-top:0.5em;
	}
	.team-grid {
		width: 50%;
	}
	.team-grid:nth-child(5) {
		display: block;
	}
	span.menu {
		background: url(../images/nav.png)no-repeat 4px 2px #000;
	}
	.abt_image {
		margin-right: 10%;
		margin-bottom:3%;
		width: 90%;
	}
	.offer a {
		width: 86%;
	}
	.offer h4 {
		width: 9%;
		margin-right: 5%;
	}
	.about-us {
		padding-bottom: 0em;
		margin-bottom: 2em;
	}
	.contact-section-head h3 {
		font-size: 1.4em;
		margin-bottom: 0.5em;
	}
	.map iframe {
		min-height: 200px;
	}	
	.contact-section {
		padding: 2em 0 0 0;
	}
	.might {
		width: 100%;
		margin-top: -28px;
	}		
	.featured {
		width: 100%;
		margin-left:0;
		padding-bottom: 0;
	}	
	.featured h3 {
		font-size: 01.2em;
	}		
	.mleft-posts {
		width: 100%;
	}
	.mright-posts {
		width:100%;
		margin-left:0;
		margin-top:1em;
	}
	.blog-main-content, .movie-main-content {
		padding: 2em 0 0 0;
	}
	img.blog {
		width: 80%;
		margin-bottom:1em;
	}
	a.gotosingle, .msingle-grid h3 {
		font-size: 0.95em;
	}
	.grid p {
		height: 140px;
		overflow: hidden;
	}
	ul.comment-list {
		padding: 1em;
	}
	.desc p {
		font-size:1em;
		margin-top:0.em;
	}
	ul.comment-list img {
		width: 20%;
	}
	.story-review p {
		height:110px;
		overflow:hidden;
	}
	.single p {
		font-size: 1.2em;
	}
	.single p i {
		font-size: 0.7em;
	}
	.singlepage p {
		height:110px;
		overflow:hidden;		
	}
	.content-form {
		margin-bottom: 4.5em;
	}
	.signup input[type="text"] {
		width: 100%;
	}
	.cricket h3 {
		font-size: 1.15em;
		padding: 8px 0 3px 7px;
	}
	.tech {
		padding: 4px 5px;
		width: 50%;
	}
	.tech:nth-child(3){
		display:none;
	}
	.classified-grid h4 {
		font-size: 0.8em;
	}
	.classified-grid {
		padding: 2em 0;
	}
	.header-right {
		margin: 0 0 1em 0;
	}
	.popupContainer {
		width: 90%;
		margin-left: -136px!important;
	}
	.social_login .icon_title {
		font-size: 13px;
	}	
	.social_login .icon {
		width: 15%;
	}
	.user_register input[type="checkbox"]+label {
		font-size: 13px;
	}
	.signup input[type="text"] {
		width: 100%;
	}
}
.journals-title{
margin-bottom:1em !important;
background-color:#e4e4e4;
width: 48%;
   float: left;
   margin-right: 2%;
}
.journals-title h1{margin-bottom:0;color:#000;font-size:13px;padding: 5px 5px 5px 20px;text-align: left;font-weight:bold;}
.journals-title h3{margin-bottom:0;color:#000;font-size:10px;padding: 10px 12px 0 10px;text-align: right;}
	